@import "./lib.less";

body {
	font-family: "Poppins", "微软雅黑", sans-serif;
	margin: 0;
	color: white;
	background: black;
}

body,
html {
	height: 100%;
}

.common-button-hover {
	transform: scale(1.2);
	color: @yellow;
	background-color: black;
}

* {
	&::selection {
		color: inherit;
		background-color: rgba(255, 193, 7, .2);
	}
}

.inner-content {
	a {
		text-decoration: none;
		color: white;
		border-bottom: 1px solid white;
		transition: all .2s ease;
		position: relative;
		display: inline-block;

		&:hover {
			border-bottom-color: @yellow;
			color: @yellow;
		}
	}

	h1 {
		font-size: 48px;
	}
	
	p {
		line-height: 1.5;
		font-size: 20px;
	}
}